@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto&family=Roboto+Condensed&family=Rubik:ital@0;1&display=swap');

:root {
  --blue: #26bad9;
  --blueHover: hsl(190, 70%, 62%);
  --red: #d94526;
  --dark: #181818;
  --yellow: #ffdc00;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.link-item,
.link-item-active {
  padding: 16px 20px;
  margin: 0 10px;
}

.hero-btn {
  background-color: transparent;
  border: solid 3px var(--blue);
  font-size: 1.1em;
  color: var(--blue);
  margin: auto;
  padding: 13px 25px;
  border-radius: 5px;
  transition: all 250ms ease-in-out;
}

.hero-btn:hover {
  background-color: var(--blue);
  color: #fefefe;
}

.hero-section .hero-btn:hover {
  color: #fefefe;
  background-color: var(--blue);
}

.card-btn {
  color: var(--blue);
  background-color: transparent;
  border: solid 2px var(--blue);
  padding: 14px 22px;
  border-radius: 5px;
  transition: all 250ms ease-in-out;
  padding: 9px 16px;
  font-weight: 600;
  font-size: 0.9em;
}

.card-btn:hover {
  background-color: var(--blue);
  color: #fefefe;
}

/*img.icone {
  font-size: 6px;
}*/