button.cancel-btn {
    padding: 11px 20px;
    background-color: transparent;
    color: var(--blue);
    border-radius: 5px;
    border: solid 2px var(--blue);
    margin-right: 5px;
    transition: all 250ms ease-in-out;
}

button.cancel-btn:hover {
    background-color: var(--blue);
    color: #fefefe;
    border: solid 2px var(--blue);
}

span.badge {
    background-color: var(--blue);
    padding: 8px;
}